<div class="fluid-container">


 <center><h2>Preguntas Frecuentes</h2></center>

<md-content class="md-no-momentum">
  <div layout="row" layout-align="center center" layout-wrap>
    <md-input-container class="md-icon-float md-block" flex="33">
      <!-- Use floating label instead of placeholder -->
      <label>Buscar</label>
      <md-icon  class="fa fa-search"></md-icon>
      <input ng-model="buscar" type="text">
    </md-input-container>
  </div>
 </md-content>

 <div class="panel-group">
 <div class="panel" data-toggle="collapse" data-target="#collapse1">
   <div class="panel-heading">


         <h3>
           ¿Prueba?
         </h3>


   </div>
   <div id="collapse1" class="panel-collapse collapse">
     <div class="panel-body">
       <h4>Respuesta</h4>
       <p>
        Probando
       </p>
       <h4>Paso a Paso</h4>
       <p>
        Probando
       </p>
     </div>
   </div>
 </div>
</div>


</div>
